#suggestion {
  display: none;
}

#questionaire {
  display: none;
}

.highlight {
  font-weight: bold;
  color: red;
}

h1{
  text-align: center;
}

.centered {
  text-align: center;
}

#suggestion {
  text-align: center;
}

.btn{
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
